<footer class="footer">
  <small>
	The <a href="http://www.railstutorial.or/">Ruby on Rails Tutorial</a>
	by <a href="https://www.facebook.com/Nst.TShine/">Nst Tshine</a>
  </small>
  <nav>
  	<ul>
  		<li><%= link_to (t ".about"), about_path %></li>
  		<li><%= link_to (t ".contact"), contact_path %></li>
  		<li><%= link_to "News", "http://news.railstutorial.org/" %></li>
  	</ul>
  </nav>
</footer>
